:root {
    --dark-color: #16423C;
    --medium-dark-color: #6A9C89;
    --light-color: #C4DAD2;
    --soft-light-color: #E9EFEC
}

body {
    margin: 0;
    padding: 0;
    background-color: var(--dark-color);
    color: var(--light-color);
}

input {
    background-color: var(--light-color);
    border: 1px solid var(--medium-dark-color);
    color: var(--dark-color)
}

.main-section {
    display: flex;
    align-items: center;
    flex-direction: column;
}

.search-bar-input {
    width: 70%;
}

.search-bar-input>input {
    width: 100%;
    height: 100%;
    padding: 6px;
    font-size: 16px;
    color: black;
}

.search-bar-div {
    max-width: 700px;
    min-width: 200px;
    width: 100%;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.search-bar-div>label {
    color: black;
    font-size: 16px;
}

.search-bar-findings-div {
    position: absolute;
    display: flex;
    flex-direction: column;
    background-color: var(--medium-dark-color);
    margin-top: 4px;
    border: 1px solid var(--light-color);
    overflow-y: auto;
    max-height: 400px;
    min-width: 300px;
}

.search-bar-findings-div>button {
    background-color: transparent;
    font-size: 16px;
    text-align: left;
    padding-top: 5px;
    padding-bottom: 5px;
    border: none;
    color: var(--soft-light-color);
}

.search-bar-findings-div>button:hover {
    background-color: var(--dark-color);
    text-decoration: underline;
}

.book-section {
    display: flex;
    width: 70%;
    flex-wrap: wrap;
    justify-content: space-evenly;
    gap: 30px;
    margin-top: 30px;
}

.book {
    display: flex;
    flex-direction: column;
    flex: 0.25 0.5 400px;
    height: 300px;
    background-color: var(--medium-dark-color);
    border: 1px solid var(--light-color);
    border-radius: 5%;
    padding: 10px;
    box-sizing: border-box;
    color: var(--soft-light-color);
    word-wrap: break-word;
    word-break: break-word;
}

.book-upper {
    display: flex;
}

.book-image-link {
    width: 120px;
    height: 180px;
}

.book-image-link>img {
    border-radius: 10%;
    width: inherit;
    height: inherit;
}

.book-upper-right {
    margin-left: 10px;
    width: 100%;
}

.book-upper-right>a {
    height: 70px;
    margin: 5px 0 0 0;
    overflow-y: auto;
    display: block;
    text-decoration: none;
    color: black;
    font-size: 18px;
}

.book-authors {
    font-size: 14px;
    height: 40px;
    overflow-y: auto;
}

.book-categories {
    font-size: 12px;
    height: 30px;
    overflow-y: auto;
}

.book-description {
    overflow-y: auto;
    margin-top: 0px;
    margin-bottom: 3px;
}

#nav-wrapper {
    position: sticky;
    width: 100%;
    z-index: 1;
    top: 0;
    left: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 10px 10px 0 10px;
    background-color: var(--dark-color);
    box-sizing: border-box;
}

#nav-main {
    background-color: var(--medium-dark-color);
    width: 95%;
    padding: 14px;
    border: 1px solid var(--soft-light-color);
    border-radius: 10%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.basic-btn {
    margin-right: 5px;
    padding: 10px;
    width: 100px;
    font-size: 16px;
    background-color: var(--light-color);
    border: 1px solid var(--dark-color);
    border-radius: 10%;
    color: black;
}

.basic-btn:hover{
    background-color: var(--dark-color);
    border: 1px solid var(--light-color);
    color: var(--soft-light-color);
    cursor: pointer;
}

.basic-btn-2{
    margin-right: 5px;
    padding: 10px;
    width: 100px;
    font-size: 16px;
    background-color: var(--light-color);
    border: 1px solid var(--dark-color);
    border-radius: 10%;
    color: black;
}

.basic-btn-2:hover{
    background-color: var(--medium-dark-color);
    border: 1px solid var(--light-color);
    color: white; 
    cursor: pointer;
}

#nav-main>h1 {
    margin: 0;
    font-size: 24px;
    color: black;
}

#nav-search {
    display: flex;
    justify-content: center;
    background-color: var(--medium-dark-color);
    width: 50%;
    height: 50px;
    border-color: var(--soft-light-color);
    border-right: 1px solid;
    border-bottom: 1px solid;
    border-left: 1px solid;
    border-radius: 3%;
}

.modal-background {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background-color: #00000055;
    z-index: 9000;
    display: flex;
    justify-content: center;
    align-items: center;
}

.login-modal {
    display: flex;
    flex-direction: column;
    border-radius: 5%;
    width: 600px;
    height: 500px;
    background-color: white;
    padding: 15px;
    box-sizing: border-box;
    align-items: center;
    background-color: var(--dark-color);
    border: 2px solid var(--soft-light-color);
    color: var(--soft-light-color);
}

.login-modal-submit-div{
    margin-top:30px;
    text-align: center;
}
.login-modal-submit-div button{
    width:60%;
}

.close-btn {
    width: auto;
    height: auto;
    opacity: 0.6;
    padding:0;
    font-size:38px;
    background-color: transparent;
    border: 0px;
    content: "\00d7";
}

.close-btn:hover {
    opacity: 1;
    cursor: pointer;
}

.div-close-modal{
    display: flex;
    flex-direction: row;
    justify-content: end;
    width: 100%;
    box-sizing: border-box;
}

.input-div{
    display: flex;
    justify-content: space-between;
    margin-bottom: 10px;
}

.input-div label{
    font-size:18px;
}

.input-div input{
    padding:5px;
    font-size: 18px;
}

.basic-form{
    width: 80%;
    margin-top:10px;
}

.checkbox{
    transform:scale(2);
    margin: 6px 6px 6px 8px;
}

.error{
    margin-top:4px;
    margin-bottom: 0px;
    color:rgb(255, 33, 43);
    display: none;
}
