.findings {
    position: absolute;
    display: flex;
    flex-direction: column;
    background-color: var(--medium-dark-color);
    margin-top: 4px;
    border: 1px solid var(--light-color);
    overflow-y: auto;
    max-height: 400px;
    min-width: 300px;
    z-index: 9000;
}

.findings>button {
    background-color: transparent;
    font-size: 16px;
    text-align: left;
    padding-top: 5px;
    padding-bottom: 5px;
    border: none;
    color: var(--soft-light-color);
}

.findings>button:hover {
    background-color: var(--dark-color);
    text-decoration: underline;
}

@media (max-width: 600px) {
    .findings {
        min-width: 100px;
    }

    .findings>button {
        font-size: 12px;
    }
}