.modal {
    width: 1000px;
    height: 800px;
    max-width: 100%;
    max-height: 100%;
    background-color: var(--dark-color);
    border:1px solid var(--soft-light-color);
    border-radius: 5%;
    padding:20px;
    box-sizing: border-box;
    display:flex;
    flex-direction: column;
    align-items: center;
}

.title{
    color: color(--medium-dark-color);
    font-size:44px;
}

.book-section{
    display:flex;
    gap: 5px;
    flex-wrap: wrap;
    justify-content: center;
    overflow-y:auto;
}

.close-btn{
    position:absolute;
    align-self:end;
}

.dropdown{
    background-color: var(--light-color);
    border:1px solid var(--soft-light-color);
    color:black;
    font-size:20px;
    padding:10px;
    margin-bottom: 5px;
}

@media (max-width: 600px) {
    .title {
        font-size: 25px;
    }
    .dropdown{
        font-size:14px;
    }
}